apiVersion: v2
name: bitwarden-rs
description: A Helm chart to deploy Bitwarden_RS and the MySQL backend
type: application
version: 0.4.1
appVersion: 1.14.2
keywords:
  - bitwarden
  - bitwarden_rs
  - password
  - manager
home: https://github.com/maxirus/helm-charts/tree/master/charts/bitwarden-rs
sources:
  - https://github.com/maxirus/helm-charts/tree/master/charts/bitwarden-rs
  - https://github.com/dani-garcia/bitwarden_rs
dependencies:
  - name: mysql
    version: 1.6.2
    repository: https://kubernetes-charts.storage.googleapis.com/
    condition: mysql.enabled